#wrapper {
  max-width: 778px;
  align-items: center;
}
.v_container{
  width: 30% !important;
  margin: 5px;
}

.v_container div{
  display: inline-block;
}

.v_container:hover .v_image {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.v_image {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.v_middle {
  transition: .5s ease;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.v_container:hover .v_middle {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.v_text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media only screen and (max-width: 380px) {
  .container{
    width: 100%;
  }
}
